# Xcode
.DS_Store
.build/
*.xcworkspace
xcuserdata/
DerivedData/
*.xcuserstate

# Swift Packages
Packages/
.swiftpm/
sourcePackages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# CI/CD
*.xccheckout
*.xcodeproj/project.xcworkspace/
